<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
  <Title>Travel Booking Application</Title>
</head>



<body>
  
  <div class="row" style="background-color: #e9ecef">
    <div class="jumbotron text-center" style="margin-bottom: 0; margin-left: 28.75%">
      <h1>
        Book Search Web Application
      </h1>
    </div>
  </div>

  <footer class="text-center bg-secondary fixed-bottom">
    <p class="w3-medium">
      Powered by <a href="https://www.d2l.depaul.edu" target="_blank" style="color:white">CSC 436 Group 1</a>
    </p>
  </footer>

</body>

</html>
